<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <div id="container">
        <div id="send-ui">
          <div id="chat-history">
            <p v-for="chat in chatHistory">{{chat}}</p>
            <br />
          </div>
          <input
            type="text"
            v-model="msg"
            placeholder="Type Message here"
            id="msg"
          />
          <button @click="sendMessage">Send</button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js" type="module"></script>
  </body>
</html>
