<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form onsubmit="return false">
            <input type="text" v-model="msg"> {{msg}}<br>
            <input type="checkbox" name="" id="check" v-model="checked" checked>{{checked? "yes" : "no"}}<br>
            <input type="radio" name="" value="one" v-model="picked">
            <input type="radio" name="" value="two" v-model="picked"> {{picked}}<br>
            <select name="" id="select" v-model="selected">
                <option>one</option>
                <option>two</option>
                <option>three</option>
            </select> {{selected}}

        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>